/****** Object:  User [melushca_SQLLogin_1]    Script Date: 14/5/2026 18:57:54 ******/
CREATE USER [melushca_SQLLogin_1] FOR LOGIN [melushca_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [melushca_SQLLogin_1]
GO
/****** Object:  Schema [melushca_SQLLogin_1]    Script Date: 14/5/2026 18:57:54 ******/
CREATE SCHEMA [melushca_SQLLogin_1]
GO
/****** Object:  Table [dbo].[almacen]    Script Date: 14/5/2026 18:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[almacen](
	[id_almacen] [int] IDENTITY(1,1) NOT NULL,
	[nombre_almacen] [varchar](100) NOT NULL,
	[ubicacion_almacen] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditoria]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[tabla_afectada] [varchar](100) NOT NULL,
	[operacion] [varchar](10) NOT NULL,
	[usuario_nombre] [varchar](50) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[datos_anteriores] [text] NULL,
	[datos_nuevos] [text] NULL,
	[id_usuario_auditor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[avance_proyecto]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[avance_proyecto](
	[id_avance] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[fecha] [date] NULL,
	[porcentaje_avance] [decimal](5, 2) NOT NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_avance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria_empleado]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_empleado](
	[id_categoria_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria_empleado] [varchar](100) NOT NULL,
	[descripcion_categoria_empleado] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria_material]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_material](
	[id_categoria_material] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria_material] [varchar](100) NOT NULL,
	[descripcion_material] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria_proveedor]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_proveedor](
	[id_categoria_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria_proveedor] [varchar](100) NOT NULL,
	[descripcion_categoria_proveedor] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[centro_costo]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centro_costo](
	[id_centro_costo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_centro_costo] [varchar](100) NOT NULL,
	[descripcion_centro_costo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_centro_costo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [varchar](100) NOT NULL,
	[telefono_cliente] [varchar](20) NULL,
	[email_cliente] [varchar](100) NULL,
	[direccion_cliente] [varchar](150) NULL,
	[id_tipo_documento] [int] NOT NULL,
	[nro_documento_cliente] [varchar](30) NOT NULL,
	[fecha_registro_cliente] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contrato_subcontratista]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contrato_subcontratista](
	[id_contrato_sub] [int] IDENTITY(1,1) NOT NULL,
	[id_subcontratista] [int] NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[descripcion_trabajo] [text] NULL,
	[monto_contratado] [decimal](12, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[estado_contrato] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contrato_sub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contratos]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contratos](
	[id_contrato] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[id_tipo_contrato] [int] NOT NULL,
	[id_tipo_pago] [int] NOT NULL,
	[tarifa] [decimal](10, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[estado_contrato] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[control_asistencia]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[control_asistencia](
	[id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_entrada] [time](7) NULL,
	[hora_salida] [time](7) NULL,
	[horas_trabajadas] [decimal](5, 2) NULL,
	[horas_extra] [decimal](5, 2) NULL,
	[estado_asistencia] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[costos_material]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[costos_material](
	[id_costo_material] [int] IDENTITY(1,1) NOT NULL,
	[id_material] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[fecha_actualizacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_costo_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cotizaciones]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cotizaciones](
	[id_cotizacion] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente_cotizacion] [int] NOT NULL,
	[costos_materiales_cotizacion] [decimal](12, 2) NULL,
	[costo_mano_obra_cotizacion] [decimal](12, 2) NULL,
	[otros_costos_cotizacion] [decimal](12, 2) NULL,
	[metros_cuadrados] [decimal](10, 2) NULL,
	[numero_pisos] [int] NULL,
	[ubicacion_obra] [varchar](150) NULL,
	[tiempo_estimado] [int] NULL,
	[margen_ganancia] [decimal](5, 2) NULL,
	[precio_final] [decimal](12, 2) NULL,
	[fecha_cotizacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[disponibilidad_empleado]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[disponibilidad_empleado](
	[id_disponibilidad] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[estado_disponibilidad] [varchar](50) NOT NULL,
	[fecha_estado] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_disponibilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_empleado] [varchar](100) NOT NULL,
	[apellido_empleado] [varchar](100) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[telefono_empleado] [varchar](20) NULL,
	[email_empleado] [varchar](100) NULL,
	[ci_empleado] [varchar](20) NOT NULL,
	[direccion_empleado] [varchar](150) NULL,
	[fecha_nacimiento_empleado] [date] NULL,
	[id_categoria_empleado] [int] NOT NULL,
	[fecha_ingreso_empleado] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_pago_proyecto]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_pago_proyecto](
	[id_estado_pago] [int] IDENTITY(1,1) NOT NULL,
	[estado_pago_proyecto] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_proyecto]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_proyecto](
	[id_estado_proyecto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fases_catalogo]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fases_catalogo](
	[id_fase_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_fase] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fase_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fases_proyecto]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fases_proyecto](
	[id_fase] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[fecha_inicio_fase] [date] NULL,
	[fecha_fin_fase] [date] NULL,
	[progreso] [decimal](5, 2) NULL,
	[porcentaje_asignado] [decimal](5, 2) NULL,
	[costo_estimado] [decimal](12, 2) NULL,
	[costo_real] [decimal](12, 2) NULL,
	[nombre_fase] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flujo_estado_proyecto]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flujo_estado_proyecto](
	[id_flujo] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[estado] [varchar](50) NULL,
	[usuario_nombre] [varchar](50) NOT NULL,
	[fecha_flujo] [date] NULL,
	[hora_flujo] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_flujo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[intentos_login]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[intentos_login](
	[id_intento] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[fecha_intento] [datetime] NULL,
	[exitoso] [bit] NULL,
	[ip_origen] [varchar](45) NULL,
	[motivo_fallo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_intento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario_material]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario_material](
	[id_inventario] [int] IDENTITY(1,1) NOT NULL,
	[id_material] [int] NOT NULL,
	[id_almacen] [int] NOT NULL,
	[stock_actual_material] [decimal](10, 2) NOT NULL,
	[stock_minimo_material] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materiales]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materiales](
	[id_material] [int] IDENTITY(1,1) NOT NULL,
	[nombre_material] [varchar](100) NOT NULL,
	[unidad_medida] [varchar](50) NOT NULL,
	[id_categoria_material] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimiento_inventario]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimiento_inventario](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_material] [int] NOT NULL,
	[tipo_movimiento] [varchar](20) NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_proyecto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nomina_pagos]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nomina_pagos](
	[id_nomina] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[id_periodo_pago] [int] NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[periodo_inicio] [date] NOT NULL,
	[periodo_fin] [date] NOT NULL,
	[dias_trabajados] [int] NULL,
	[horas_trabajadas] [decimal](10, 2) NULL,
	[horas_extra] [decimal](10, 2) NULL,
	[monto_pago] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nomina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pago_subcontratista]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago_subcontratista](
	[id_pago_sub] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato_sub] [int] NOT NULL,
	[monto] [decimal](10, 2) NULL,
	[fecha_pago] [date] NULL,
	[estado_pago] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago_sub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos_cliente]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos_cliente](
	[id_pago_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[id_estado_pago] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[metodo_pago] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos_proveedor]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos_proveedor](
	[id_pago_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[id_estado_pago] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha_pago] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[periodo_pago]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodo_pago](
	[id_periodo_pago] [int] IDENTITY(1,1) NOT NULL,
	[tipo_periodo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_periodo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permisos]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisos](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[tabla_objetivo] [varchar](50) NOT NULL,
	[operacion] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plan_pagos]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plan_pagos](
	[id_plan_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[numero_cuota] [int] NOT NULL,
	[monto_esperado] [decimal](10, 2) NOT NULL,
	[fecha_limite] [date] NOT NULL,
	[estado_pago] [varchar](50) NOT NULL,
	[porcentaje_asociado] [decimal](5, 2) NULL,
	[id_fase] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plan_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presupuesto_cliente]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presupuesto_cliente](
	[id_presupuesto] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[monto_presupuesto] [decimal](12, 2) NULL,
	[fecha_presupuesto] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_presupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre_proveedor] [varchar](100) NOT NULL,
	[telefono_proveedor] [varchar](20) NULL,
	[direccion_proveedor] [varchar](150) NULL,
	[id_categoria_proveedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyecto_empleado]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyecto_empleado](
	[id_proyecto_empleado] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[rol_en_proyecto] [varchar](100) NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[fecha_salida] [date] NULL,
	[estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proyecto_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyecto_mano_obra]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyecto_mano_obra](
	[id_mano_obra] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[id_fase] [int] NULL,
	[fecha_trabajo] [date] NOT NULL,
	[horas_trabajadas] [decimal](10, 2) NOT NULL,
	[costo_por_hora] [decimal](10, 2) NOT NULL,
	[costo_total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mano_obra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyecto_material]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyecto_material](
	[id_proyecto_material] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NOT NULL,
	[id_material] [int] NOT NULL,
	[id_fase] [int] NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[fecha_uso] [date] NULL,
	[costo_unitario] [decimal](10, 2) NOT NULL,
	[costo_total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proyecto_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyectos]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyectos](
	[id_proyecto] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_estado_proyecto] [int] NOT NULL,
	[id_centro_costo] [int] NOT NULL,
	[id_cotizacion] [int] NULL,
	[nombre_proyecto] [varchar](150) NOT NULL,
	[ubicacion_proyecto] [varchar](255) NULL,
	[fecha_inicio_proyecto] [date] NOT NULL,
	[fecha_fin_proyecto] [date] NULL,
	[costo_real_proyecto] [decimal](12, 2) NULL,
	[prioridad_proyecto] [varchar](10) NOT NULL,
	[porcentaje_avance] [decimal](5, 2) NULL,
	[estado_registro] [varchar](10) NULL,
	[id_fase_tipo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subcontratistas]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subcontratistas](
	[id_subcontratista] [int] IDENTITY(1,1) NOT NULL,
	[nombre_subcontratista] [varchar](100) NOT NULL,
	[representante] [varchar](100) NULL,
	[ci_subcontratista] [varchar](20) NOT NULL,
	[telefono_subcontratista] [varchar](20) NULL,
	[email_subcontratista] [varchar](100) NULL,
	[direccion_subcontratista] [varchar](150) NULL,
	[especialidad] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_subcontratista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tareas_fase]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tareas_fase](
	[id_tarea] [int] IDENTITY(1,1) NOT NULL,
	[id_fase] [int] NOT NULL,
	[id_empleado_responsable] [int] NOT NULL,
	[nombre_tarea] [varchar](100) NOT NULL,
	[descripcion_tarea] [text] NULL,
	[fecha_inicio_tarea] [date] NULL,
	[fecha_fin_tarea] [date] NULL,
	[prioridad_tarea] [varchar](20) NULL,
	[estado] [varchar](50) NOT NULL,
	[porcentaje_avance] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_contrato]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_contrato](
	[id_tipo_contrato] [int] IDENTITY(1,1) NOT NULL,
	[tipo_contrato] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_documento]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_documento](
	[id_tipo_documento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_documento] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_pago_trabajador]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_pago_trabajador](
	[id_tipo_pago] [int] IDENTITY(1,1) NOT NULL,
	[tipo_pago] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_rol]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_rol](
	[id_usuario] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 14/5/2026 18:57:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[estado] [varchar](10) NOT NULL,
	[id_empleado] [int] NULL,
	[id_cliente] [int] NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_ultima_modificacion] [datetime] NULL,
	[ultimo_login] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[almacen] ON 

INSERT [dbo].[almacen] ([id_almacen], [nombre_almacen], [ubicacion_almacen]) VALUES (1, N'Almacen Central', N'Av. Blanco Galindo Km 5, Cochabamba')
INSERT [dbo].[almacen] ([id_almacen], [nombre_almacen], [ubicacion_almacen]) VALUES (2, N'Almacen Norte', N'Zona Norte, Cochabamba')
INSERT [dbo].[almacen] ([id_almacen], [nombre_almacen], [ubicacion_almacen]) VALUES (3, N'Almacen Sacaba', N'Sacaba, Cochabamba')
SET IDENTITY_INSERT [dbo].[almacen] OFF
GO
SET IDENTITY_INSERT [dbo].[auditoria] ON 

INSERT [dbo].[auditoria] ([id_auditoria], [tabla_afectada], [operacion], [usuario_nombre], [fecha], [datos_anteriores], [datos_nuevos], [id_usuario_auditor]) VALUES (1, N'cotizaciones', N'UPDATE', N'root@100.64.0.4', CAST(N'2026-04-22T12:05:31.000' AS DateTime), N'precio:93600.00', N'precio:93600.00', NULL)
INSERT [dbo].[auditoria] ([id_auditoria], [tabla_afectada], [operacion], [usuario_nombre], [fecha], [datos_anteriores], [datos_nuevos], [id_usuario_auditor]) VALUES (2, N'cotizaciones', N'UPDATE', N'root@100.64.0.4', CAST(N'2026-04-22T12:05:31.000' AS DateTime), N'precio:77980.00', N'precio:77980.00', NULL)
INSERT [dbo].[auditoria] ([id_auditoria], [tabla_afectada], [operacion], [usuario_nombre], [fecha], [datos_anteriores], [datos_nuevos], [id_usuario_auditor]) VALUES (3, N'cotizaciones', N'UPDATE', N'root@100.64.0.4', CAST(N'2026-04-22T12:05:32.000' AS DateTime), N'precio:126440.00', N'precio:126440.00', NULL)
SET IDENTITY_INSERT [dbo].[auditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[avance_proyecto] ON 

INSERT [dbo].[avance_proyecto] ([id_avance], [id_proyecto], [fecha], [porcentaje_avance], [observaciones]) VALUES (218, 1, CAST(N'2025-06-05' AS Date), CAST(5.00 AS Decimal(5, 2)), N'Inicio de obra y limpieza del terreno')
INSERT [dbo].[avance_proyecto] ([id_avance], [id_proyecto], [fecha], [porcentaje_avance], [observaciones]) VALUES (219, 1, CAST(N'2025-06-20' AS Date), CAST(20.00 AS Decimal(5, 2)), N'Excavación y cimientos')
INSERT [dbo].[avance_proyecto] ([id_avance], [id_proyecto], [fecha], [porcentaje_avance], [observaciones]) VALUES (220, 1, CAST(N'2025-07-15' AS Date), CAST(40.00 AS Decimal(5, 2)), N'Levantamiento de muros')
SET IDENTITY_INSERT [dbo].[avance_proyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[categoria_empleado] ON 

INSERT [dbo].[categoria_empleado] ([id_categoria_empleado], [nombre_categoria_empleado], [descripcion_categoria_empleado]) VALUES (1, N'Personal Técnico', N'Técnicos certificados y especialistas en equipos')
INSERT [dbo].[categoria_empleado] ([id_categoria_empleado], [nombre_categoria_empleado], [descripcion_categoria_empleado]) VALUES (2, N'Personal Operativo', N'Mano de obra directa, obreros y ayudantes')
INSERT [dbo].[categoria_empleado] ([id_categoria_empleado], [nombre_categoria_empleado], [descripcion_categoria_empleado]) VALUES (3, N'Personal Administrativo', N'Personal de oficina, contabilidad y gerencia')
SET IDENTITY_INSERT [dbo].[categoria_empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[categoria_material] ON 

INSERT [dbo].[categoria_material] ([id_categoria_material], [nombre_categoria_material], [descripcion_material]) VALUES (1, N'Agregados', N'Arena, grava, piedra triturada para construccion')
INSERT [dbo].[categoria_material] ([id_categoria_material], [nombre_categoria_material], [descripcion_material]) VALUES (2, N'Cemento y Cal', N'Cemento, cal y derivados para mezcla')
INSERT [dbo].[categoria_material] ([id_categoria_material], [nombre_categoria_material], [descripcion_material]) VALUES (3, N'Acero y Metal', N'Varillas, vigas, perfiles metalicos')
SET IDENTITY_INSERT [dbo].[categoria_material] OFF
GO
SET IDENTITY_INSERT [dbo].[categoria_proveedor] ON 

INSERT [dbo].[categoria_proveedor] ([id_categoria_proveedor], [nombre_categoria_proveedor], [descripcion_categoria_proveedor]) VALUES (1, N'Maquinaria y Equipos', N'Proveedores de grúas, mezcladoras y herramientas pesadas')
INSERT [dbo].[categoria_proveedor] ([id_categoria_proveedor], [nombre_categoria_proveedor], [descripcion_categoria_proveedor]) VALUES (2, N'Materiales de Construcción', N'Proveedores de agregados, cemento, acero y ferretería')
INSERT [dbo].[categoria_proveedor] ([id_categoria_proveedor], [nombre_categoria_proveedor], [descripcion_categoria_proveedor]) VALUES (3, N'Tecnología y Software', N'Servicios de licencias de software especializado')
SET IDENTITY_INSERT [dbo].[categoria_proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[centro_costo] ON 

INSERT [dbo].[centro_costo] ([id_centro_costo], [nombre_centro_costo], [descripcion_centro_costo]) VALUES (1, N'Administracion Central', N'Gastos administrativos de oficina, personal y gerencia')
INSERT [dbo].[centro_costo] ([id_centro_costo], [nombre_centro_costo], [descripcion_centro_costo]) VALUES (2, N'Proyectos Residenciales', N'Costos asociados a construcción de casas y edificios residenciales')
INSERT [dbo].[centro_costo] ([id_centro_costo], [nombre_centro_costo], [descripcion_centro_costo]) VALUES (3, N'Proyectos Comerciales', N'Costos de obras comerciales como tiendas, oficinas y centros comerciales')
SET IDENTITY_INSERT [dbo].[centro_costo] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id_cliente], [nombre_cliente], [telefono_cliente], [email_cliente], [direccion_cliente], [id_tipo_documento], [nro_documento_cliente], [fecha_registro_cliente]) VALUES (1, N'Juan Carlos Mendoza', N'70712345', N'juan.mendoza@gmail.com', N'Av. America #123, Cochabamba', 1, N'6543210', CAST(N'2025-01-10' AS Date))
INSERT [dbo].[clientes] ([id_cliente], [nombre_cliente], [telefono_cliente], [email_cliente], [direccion_cliente], [id_tipo_documento], [nro_documento_cliente], [fecha_registro_cliente]) VALUES (2, N'Maria Fernanda Rojas', N'71567890', N'maria.rojas@gmail.com', N'Zona Norte, Cochabamba', 1, N'7894561', CAST(N'2025-02-15' AS Date))
INSERT [dbo].[clientes] ([id_cliente], [nombre_cliente], [telefono_cliente], [email_cliente], [direccion_cliente], [id_tipo_documento], [nro_documento_cliente], [fecha_registro_cliente]) VALUES (3, N'Luis Alberto Quispe', N'72233445', N'luis.quispe@gmail.com', N'Quillacollo, Cochabamba', 1, N'9638527', CAST(N'2025-03-05' AS Date))
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[contrato_subcontratista] ON 

INSERT [dbo].[contrato_subcontratista] ([id_contrato_sub], [id_subcontratista], [id_proyecto], [descripcion_trabajo], [monto_contratado], [fecha_inicio], [fecha_fin], [estado_contrato]) VALUES (1, 1, 1, N'Instalaciones electricas completas en vivienda', CAST(8500.00 AS Decimal(12, 2)), CAST(N'2025-06-05' AS Date), CAST(N'2025-07-10' AS Date), N'Activo')
INSERT [dbo].[contrato_subcontratista] ([id_contrato_sub], [id_subcontratista], [id_proyecto], [descripcion_trabajo], [monto_contratado], [fecha_inicio], [fecha_fin], [estado_contrato]) VALUES (2, 2, 2, N'Instalaciones sanitarias y tuberias PVC', CAST(7000.00 AS Decimal(12, 2)), CAST(N'2025-06-12' AS Date), CAST(N'2025-07-15' AS Date), N'Activo')
INSERT [dbo].[contrato_subcontratista] ([id_contrato_sub], [id_subcontratista], [id_proyecto], [descripcion_trabajo], [monto_contratado], [fecha_inicio], [fecha_fin], [estado_contrato]) VALUES (3, 4, 3, N'Estructuras metalicas para pisos superiores', CAST(25000.00 AS Decimal(12, 2)), CAST(N'2025-06-20' AS Date), CAST(N'2025-09-30' AS Date), N'Activo')
SET IDENTITY_INSERT [dbo].[contrato_subcontratista] OFF
GO
SET IDENTITY_INSERT [dbo].[contratos] ON 

INSERT [dbo].[contratos] ([id_contrato], [id_empleado], [id_tipo_contrato], [id_tipo_pago], [tarifa], [fecha_inicio], [fecha_fin], [estado_contrato]) VALUES (1, 1, 1, 1, CAST(4500.00 AS Decimal(10, 2)), CAST(N'2024-01-10' AS Date), NULL, N'activo')
INSERT [dbo].[contratos] ([id_contrato], [id_empleado], [id_tipo_contrato], [id_tipo_pago], [tarifa], [fecha_inicio], [fecha_fin], [estado_contrato]) VALUES (2, 2, 2, 1, CAST(4000.00 AS Decimal(10, 2)), CAST(N'2024-02-15' AS Date), CAST(N'2025-02-15' AS Date), N'activo')
INSERT [dbo].[contratos] ([id_contrato], [id_empleado], [id_tipo_contrato], [id_tipo_pago], [tarifa], [fecha_inicio], [fecha_fin], [estado_contrato]) VALUES (3, 3, 3, 6, CAST(15000.00 AS Decimal(10, 2)), CAST(N'2024-03-05' AS Date), CAST(N'2025-03-05' AS Date), N'activo')
SET IDENTITY_INSERT [dbo].[contratos] OFF
GO
SET IDENTITY_INSERT [dbo].[control_asistencia] ON 

INSERT [dbo].[control_asistencia] ([id_asistencia], [id_empleado], [fecha], [hora_entrada], [hora_salida], [horas_trabajadas], [horas_extra], [estado_asistencia]) VALUES (1, 1, CAST(N'2025-06-02' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(8.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), N'Presente')
INSERT [dbo].[control_asistencia] ([id_asistencia], [id_empleado], [fecha], [hora_entrada], [hora_salida], [horas_trabajadas], [horas_extra], [estado_asistencia]) VALUES (2, 1, CAST(N'2025-06-03' AS Date), CAST(N'08:15:00' AS Time), CAST(N'17:00:00' AS Time), CAST(7.75 AS Decimal(5, 2)), CAST(0.75 AS Decimal(5, 2)), N'Tarde')
INSERT [dbo].[control_asistencia] ([id_asistencia], [id_empleado], [fecha], [hora_entrada], [hora_salida], [horas_trabajadas], [horas_extra], [estado_asistencia]) VALUES (3, 2, CAST(N'2025-06-11' AS Date), CAST(N'08:05:00' AS Time), CAST(N'17:10:00' AS Time), CAST(8.00 AS Decimal(5, 2)), CAST(1.08 AS Decimal(5, 2)), N'Presente')
SET IDENTITY_INSERT [dbo].[control_asistencia] OFF
GO
SET IDENTITY_INSERT [dbo].[costos_material] ON 

INSERT [dbo].[costos_material] ([id_costo_material], [id_material], [precio_unitario], [fecha_actualizacion]) VALUES (1, 1, CAST(38.50 AS Decimal(10, 2)), CAST(N'2026-01-01' AS Date))
INSERT [dbo].[costos_material] ([id_costo_material], [id_material], [precio_unitario], [fecha_actualizacion]) VALUES (2, 2, CAST(42.00 AS Decimal(10, 2)), CAST(N'2026-01-01' AS Date))
INSERT [dbo].[costos_material] ([id_costo_material], [id_material], [precio_unitario], [fecha_actualizacion]) VALUES (3, 3, CAST(28.00 AS Decimal(10, 2)), CAST(N'2026-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[costos_material] OFF
GO
SET IDENTITY_INSERT [dbo].[cotizaciones] ON 

INSERT [dbo].[cotizaciones] ([id_cotizacion], [id_cliente_cotizacion], [costos_materiales_cotizacion], [costo_mano_obra_cotizacion], [otros_costos_cotizacion], [metros_cuadrados], [numero_pisos], [ubicacion_obra], [tiempo_estimado], [margen_ganancia], [precio_final], [fecha_cotizacion]) VALUES (1, 1, CAST(45000.00 AS Decimal(12, 2)), CAST(28000.00 AS Decimal(12, 2)), CAST(5000.00 AS Decimal(12, 2)), CAST(120.00 AS Decimal(10, 2)), 2, N'Cochabamba Centro', 6, CAST(15.00 AS Decimal(5, 2)), CAST(89700.00 AS Decimal(12, 2)), CAST(N'2025-01-10' AS Date))
INSERT [dbo].[cotizaciones] ([id_cotizacion], [id_cliente_cotizacion], [costos_materiales_cotizacion], [costo_mano_obra_cotizacion], [otros_costos_cotizacion], [metros_cuadrados], [numero_pisos], [ubicacion_obra], [tiempo_estimado], [margen_ganancia], [precio_final], [fecha_cotizacion]) VALUES (2, 2, CAST(38000.00 AS Decimal(12, 2)), CAST(25000.00 AS Decimal(12, 2)), CAST(4000.00 AS Decimal(12, 2)), CAST(100.00 AS Decimal(10, 2)), 1, N'Zona Norte Cochabamba', 5, CAST(15.00 AS Decimal(5, 2)), CAST(77050.00 AS Decimal(12, 2)), CAST(N'2025-02-15' AS Date))
INSERT [dbo].[cotizaciones] ([id_cotizacion], [id_cliente_cotizacion], [costos_materiales_cotizacion], [costo_mano_obra_cotizacion], [otros_costos_cotizacion], [metros_cuadrados], [numero_pisos], [ubicacion_obra], [tiempo_estimado], [margen_ganancia], [precio_final], [fecha_cotizacion]) VALUES (3, 3, CAST(60000.00 AS Decimal(12, 2)), CAST(35000.00 AS Decimal(12, 2)), CAST(8000.00 AS Decimal(12, 2)), CAST(180.00 AS Decimal(10, 2)), 3, N'Quillacollo', 10, CAST(15.00 AS Decimal(5, 2)), CAST(118300.00 AS Decimal(12, 2)), CAST(N'2025-03-05' AS Date))
SET IDENTITY_INSERT [dbo].[cotizaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[disponibilidad_empleado] ON 

INSERT [dbo].[disponibilidad_empleado] ([id_disponibilidad], [id_empleado], [estado_disponibilidad], [fecha_estado]) VALUES (1, 1, N'Ocupado', CAST(N'2025-06-02' AS Date))
INSERT [dbo].[disponibilidad_empleado] ([id_disponibilidad], [id_empleado], [estado_disponibilidad], [fecha_estado]) VALUES (2, 1, N'Ocupado', CAST(N'2025-06-03' AS Date))
INSERT [dbo].[disponibilidad_empleado] ([id_disponibilidad], [id_empleado], [estado_disponibilidad], [fecha_estado]) VALUES (3, 2, N'Ocupado', CAST(N'2025-06-11' AS Date))
SET IDENTITY_INSERT [dbo].[disponibilidad_empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([id_empleado], [nombre_empleado], [apellido_empleado], [sexo], [telefono_empleado], [email_empleado], [ci_empleado], [direccion_empleado], [fecha_nacimiento_empleado], [id_categoria_empleado], [fecha_ingreso_empleado]) VALUES (1, N'Juan Carlos', N'Mendoza', N'M', N'70712345', N'juan.mendoza@gmail.com', N'6543210', N'Av. America #123, Cochabamba', CAST(N'1990-05-12' AS Date), 1, CAST(N'2015-03-01' AS Date))
INSERT [dbo].[empleados] ([id_empleado], [nombre_empleado], [apellido_empleado], [sexo], [telefono_empleado], [email_empleado], [ci_empleado], [direccion_empleado], [fecha_nacimiento_empleado], [id_categoria_empleado], [fecha_ingreso_empleado]) VALUES (2, N'Maria Fernanda', N'Rojas', N'F', N'71567890', N'maria.rojas@gmail.com', N'7894561', N'Zona Norte, Cochabamba', CAST(N'1992-08-20' AS Date), 2, CAST(N'2017-06-15' AS Date))
INSERT [dbo].[empleados] ([id_empleado], [nombre_empleado], [apellido_empleado], [sexo], [telefono_empleado], [email_empleado], [ci_empleado], [direccion_empleado], [fecha_nacimiento_empleado], [id_categoria_empleado], [fecha_ingreso_empleado]) VALUES (3, N'Luis Alberto', N'Quispe', N'M', N'72233445', N'luis.quispe@gmail.com', N'9638527', N'Quillacollo, Cochabamba', CAST(N'1988-11-03' AS Date), 2, CAST(N'2016-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_pago_proyecto] ON 

INSERT [dbo].[estado_pago_proyecto] ([id_estado_pago], [estado_pago_proyecto]) VALUES (1, N'Pendiente')
INSERT [dbo].[estado_pago_proyecto] ([id_estado_pago], [estado_pago_proyecto]) VALUES (2, N'Parcial')
INSERT [dbo].[estado_pago_proyecto] ([id_estado_pago], [estado_pago_proyecto]) VALUES (3, N'Pagado')
SET IDENTITY_INSERT [dbo].[estado_pago_proyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[estados_proyecto] ON 

INSERT [dbo].[estados_proyecto] ([id_estado_proyecto], [nombre_estado]) VALUES (1, N'Planificacion')
INSERT [dbo].[estados_proyecto] ([id_estado_proyecto], [nombre_estado]) VALUES (2, N'Cotizado')
INSERT [dbo].[estados_proyecto] ([id_estado_proyecto], [nombre_estado]) VALUES (3, N'Aprobado')
SET IDENTITY_INSERT [dbo].[estados_proyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[fases_catalogo] ON 

INSERT [dbo].[fases_catalogo] ([id_fase_tipo], [nombre_fase], [descripcion], [estado]) VALUES (1, N'Replanteo y preparación del terreno', N'Marcación del terreno, limpieza y nivelación inicial de la obra', N'ACTIVO')
INSERT [dbo].[fases_catalogo] ([id_fase_tipo], [nombre_fase], [descripcion], [estado]) VALUES (2, N'Excavación', N'Excavación para cimientos, zanjas y estructuras subterráneas', N'ACTIVO')
INSERT [dbo].[fases_catalogo] ([id_fase_tipo], [nombre_fase], [descripcion], [estado]) VALUES (3, N'Cimentación', N'Construcción de bases, zapatas y losas de cimentación', N'ACTIVO')
SET IDENTITY_INSERT [dbo].[fases_catalogo] OFF
GO
SET IDENTITY_INSERT [dbo].[fases_proyecto] ON 

INSERT [dbo].[fases_proyecto] ([id_fase], [id_proyecto], [fecha_inicio_fase], [fecha_fin_fase], [progreso], [porcentaje_asignado], [costo_estimado], [costo_real], [nombre_fase]) VALUES (1, 1, CAST(N'2025-06-01' AS Date), CAST(N'2025-06-15' AS Date), CAST(100.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(8000.00 AS Decimal(12, 2)), CAST(7800.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[fases_proyecto] ([id_fase], [id_proyecto], [fecha_inicio_fase], [fecha_fin_fase], [progreso], [porcentaje_asignado], [costo_estimado], [costo_real], [nombre_fase]) VALUES (2, 1, CAST(N'2025-06-16' AS Date), CAST(N'2025-07-10' AS Date), CAST(60.00 AS Decimal(5, 2)), CAST(25.00 AS Decimal(5, 2)), CAST(22000.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[fases_proyecto] ([id_fase], [id_proyecto], [fecha_inicio_fase], [fecha_fin_fase], [progreso], [porcentaje_asignado], [costo_estimado], [costo_real], [nombre_fase]) VALUES (3, 2, CAST(N'2025-06-10' AS Date), CAST(N'2025-06-20' AS Date), CAST(100.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(7000.00 AS Decimal(12, 2)), CAST(6900.00 AS Decimal(12, 2)), NULL)
SET IDENTITY_INSERT [dbo].[fases_proyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[flujo_estado_proyecto] ON 

INSERT [dbo].[flujo_estado_proyecto] ([id_flujo], [id_proyecto], [estado], [usuario_nombre], [fecha_flujo], [hora_flujo]) VALUES (1, 1, N'Planificacion', N'admin', CAST(N'2025-05-20' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[flujo_estado_proyecto] ([id_flujo], [id_proyecto], [estado], [usuario_nombre], [fecha_flujo], [hora_flujo]) VALUES (2, 1, N'Cotizado', N'sistema', CAST(N'2025-05-25' AS Date), CAST(N'12:00:00' AS Time))
INSERT [dbo].[flujo_estado_proyecto] ([id_flujo], [id_proyecto], [estado], [usuario_nombre], [fecha_flujo], [hora_flujo]) VALUES (3, 1, N'En ejecucion', N'admin', CAST(N'2025-06-01' AS Date), CAST(N'08:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[flujo_estado_proyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[inventario_material] ON 

INSERT [dbo].[inventario_material] ([id_inventario], [id_material], [id_almacen], [stock_actual_material], [stock_minimo_material]) VALUES (1, 1, 1, CAST(500.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[inventario_material] ([id_inventario], [id_material], [id_almacen], [stock_actual_material], [stock_minimo_material]) VALUES (2, 2, 1, CAST(300.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[inventario_material] ([id_inventario], [id_material], [id_almacen], [stock_actual_material], [stock_minimo_material]) VALUES (3, 3, 1, CAST(50.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[inventario_material] OFF
GO
SET IDENTITY_INSERT [dbo].[materiales] ON 

INSERT [dbo].[materiales] ([id_material], [nombre_material], [unidad_medida], [id_categoria_material], [id_proveedor]) VALUES (1, N'Cemento IP-30', N'bolsa', 2, 1)
INSERT [dbo].[materiales] ([id_material], [nombre_material], [unidad_medida], [id_categoria_material], [id_proveedor]) VALUES (2, N'Cemento IP-40', N'bolsa', 2, 2)
INSERT [dbo].[materiales] ([id_material], [nombre_material], [unidad_medida], [id_categoria_material], [id_proveedor]) VALUES (3, N'Arena fina', N'm3', 1, 1)
SET IDENTITY_INSERT [dbo].[materiales] OFF
GO
SET IDENTITY_INSERT [dbo].[movimiento_inventario] ON 

INSERT [dbo].[movimiento_inventario] ([id_movimiento], [id_material], [tipo_movimiento], [cantidad], [fecha], [id_proyecto]) VALUES (1, 1, N'entrada', CAST(200.00 AS Decimal(10, 2)), CAST(N'2025-06-01T08:00:00.000' AS DateTime), 1)
INSERT [dbo].[movimiento_inventario] ([id_movimiento], [id_material], [tipo_movimiento], [cantidad], [fecha], [id_proyecto]) VALUES (2, 3, N'entrada', CAST(15.00 AS Decimal(10, 2)), CAST(N'2025-06-01T08:10:00.000' AS DateTime), 1)
INSERT [dbo].[movimiento_inventario] ([id_movimiento], [id_material], [tipo_movimiento], [cantidad], [fecha], [id_proyecto]) VALUES (3, 1, N'salida', CAST(80.00 AS Decimal(10, 2)), CAST(N'2025-06-10T10:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[movimiento_inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[nomina_pagos] ON 

INSERT [dbo].[nomina_pagos] ([id_nomina], [id_empleado], [id_periodo_pago], [fecha_pago], [periodo_inicio], [periodo_fin], [dias_trabajados], [horas_trabajadas], [horas_extra], [monto_pago]) VALUES (1, 1, 2, CAST(N'2025-06-07' AS Date), CAST(N'2025-06-01' AS Date), CAST(N'2025-06-07' AS Date), 6, CAST(48.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(1440.00 AS Decimal(10, 2)))
INSERT [dbo].[nomina_pagos] ([id_nomina], [id_empleado], [id_periodo_pago], [fecha_pago], [periodo_inicio], [periodo_fin], [dias_trabajados], [horas_trabajadas], [horas_extra], [monto_pago]) VALUES (2, 2, 3, CAST(N'2025-06-15' AS Date), CAST(N'2025-06-01' AS Date), CAST(N'2025-06-15' AS Date), 12, CAST(96.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)), CAST(3200.00 AS Decimal(10, 2)))
INSERT [dbo].[nomina_pagos] ([id_nomina], [id_empleado], [id_periodo_pago], [fecha_pago], [periodo_inicio], [periodo_fin], [dias_trabajados], [horas_trabajadas], [horas_extra], [monto_pago]) VALUES (3, 3, 3, CAST(N'2025-06-15' AS Date), CAST(N'2025-06-01' AS Date), CAST(N'2025-06-15' AS Date), 12, CAST(100.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(3500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[nomina_pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[pago_subcontratista] ON 

INSERT [dbo].[pago_subcontratista] ([id_pago_sub], [id_contrato_sub], [monto], [fecha_pago], [estado_pago]) VALUES (1, 1, CAST(3000.00 AS Decimal(10, 2)), CAST(N'2025-06-20' AS Date), N'Parcial')
INSERT [dbo].[pago_subcontratista] ([id_pago_sub], [id_contrato_sub], [monto], [fecha_pago], [estado_pago]) VALUES (2, 1, CAST(5500.00 AS Decimal(10, 2)), CAST(N'2025-07-10' AS Date), N'Pagado')
INSERT [dbo].[pago_subcontratista] ([id_pago_sub], [id_contrato_sub], [monto], [fecha_pago], [estado_pago]) VALUES (3, 2, CAST(3500.00 AS Decimal(10, 2)), CAST(N'2025-06-25' AS Date), N'Parcial')
SET IDENTITY_INSERT [dbo].[pago_subcontratista] OFF
GO
SET IDENTITY_INSERT [dbo].[pagos_cliente] ON 

INSERT [dbo].[pagos_cliente] ([id_pago_cliente], [id_cliente], [id_proyecto], [id_estado_pago], [monto], [fecha_pago], [metodo_pago]) VALUES (1, 1, 1, 2, CAST(25000.00 AS Decimal(10, 2)), CAST(N'2025-06-15' AS Date), N'Transferencia')
INSERT [dbo].[pagos_cliente] ([id_pago_cliente], [id_cliente], [id_proyecto], [id_estado_pago], [monto], [fecha_pago], [metodo_pago]) VALUES (2, 2, 2, 2, CAST(20000.00 AS Decimal(10, 2)), CAST(N'2025-06-18' AS Date), N'Efectivo')
INSERT [dbo].[pagos_cliente] ([id_pago_cliente], [id_cliente], [id_proyecto], [id_estado_pago], [monto], [fecha_pago], [metodo_pago]) VALUES (3, 3, 3, 1, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-06-20' AS Date), N'Pendiente')
SET IDENTITY_INSERT [dbo].[pagos_cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[pagos_proveedor] ON 

INSERT [dbo].[pagos_proveedor] ([id_pago_proveedor], [id_proveedor], [id_proyecto], [id_estado_pago], [monto], [fecha_pago]) VALUES (1, 1, 1, 2, CAST(15000.00 AS Decimal(10, 2)), CAST(N'2025-06-05' AS Date))
INSERT [dbo].[pagos_proveedor] ([id_pago_proveedor], [id_proveedor], [id_proyecto], [id_estado_pago], [monto], [fecha_pago]) VALUES (2, 4, 1, 2, CAST(3200.00 AS Decimal(10, 2)), CAST(N'2025-06-06' AS Date))
INSERT [dbo].[pagos_proveedor] ([id_pago_proveedor], [id_proveedor], [id_proyecto], [id_estado_pago], [monto], [fecha_pago]) VALUES (3, 2, 2, 2, CAST(12000.00 AS Decimal(10, 2)), CAST(N'2025-06-12' AS Date))
SET IDENTITY_INSERT [dbo].[pagos_proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[periodo_pago] ON 

INSERT [dbo].[periodo_pago] ([id_periodo_pago], [tipo_periodo]) VALUES (1, N'Diario')
INSERT [dbo].[periodo_pago] ([id_periodo_pago], [tipo_periodo]) VALUES (2, N'Semanal')
INSERT [dbo].[periodo_pago] ([id_periodo_pago], [tipo_periodo]) VALUES (3, N'Quincenal')
SET IDENTITY_INSERT [dbo].[periodo_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[permisos] ON 

INSERT [dbo].[permisos] ([id_permiso], [id_rol], [tabla_objetivo], [operacion]) VALUES (10, 1, N'auditoria', N'SELECT')
INSERT [dbo].[permisos] ([id_permiso], [id_rol], [tabla_objetivo], [operacion]) VALUES (11, 1, N'intentos_login', N'SELECT')
INSERT [dbo].[permisos] ([id_permiso], [id_rol], [tabla_objetivo], [operacion]) VALUES (13, 1, N'permisos', N'INSERT')
SET IDENTITY_INSERT [dbo].[permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[plan_pagos] ON 

INSERT [dbo].[plan_pagos] ([id_plan_pago], [id_proyecto], [numero_cuota], [monto_esperado], [fecha_limite], [estado_pago], [porcentaje_asociado], [id_fase]) VALUES (1, 1, 1, CAST(17800.00 AS Decimal(10, 2)), CAST(N'2025-06-01' AS Date), N'Pagado', CAST(20.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[plan_pagos] ([id_plan_pago], [id_proyecto], [numero_cuota], [monto_esperado], [fecha_limite], [estado_pago], [porcentaje_asociado], [id_fase]) VALUES (2, 1, 2, CAST(26700.00 AS Decimal(10, 2)), CAST(N'2025-07-15' AS Date), N'Pendiente', CAST(30.00 AS Decimal(5, 2)), 2)
INSERT [dbo].[plan_pagos] ([id_plan_pago], [id_proyecto], [numero_cuota], [monto_esperado], [fecha_limite], [estado_pago], [porcentaje_asociado], [id_fase]) VALUES (3, 1, 3, CAST(26700.00 AS Decimal(10, 2)), CAST(N'2025-09-01' AS Date), N'Pendiente', CAST(30.00 AS Decimal(5, 2)), 2)
SET IDENTITY_INSERT [dbo].[plan_pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[presupuesto_cliente] ON 

INSERT [dbo].[presupuesto_cliente] ([id_presupuesto], [id_cliente], [monto_presupuesto], [fecha_presupuesto]) VALUES (1, 1, CAST(90000.00 AS Decimal(12, 2)), CAST(N'2025-01-15' AS Date))
INSERT [dbo].[presupuesto_cliente] ([id_presupuesto], [id_cliente], [monto_presupuesto], [fecha_presupuesto]) VALUES (2, 2, CAST(80000.00 AS Decimal(12, 2)), CAST(N'2025-02-20' AS Date))
INSERT [dbo].[presupuesto_cliente] ([id_presupuesto], [id_cliente], [monto_presupuesto], [fecha_presupuesto]) VALUES (3, 3, CAST(150000.00 AS Decimal(12, 2)), CAST(N'2025-03-10' AS Date))
SET IDENTITY_INSERT [dbo].[presupuesto_cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedores] ON 

INSERT [dbo].[proveedores] ([id_proveedor], [nombre_proveedor], [telefono_proveedor], [direccion_proveedor], [id_categoria_proveedor]) VALUES (1, N'Cemento Fancesa', N'72211111', N'Sucre, Bolivia', 2)
INSERT [dbo].[proveedores] ([id_proveedor], [nombre_proveedor], [telefono_proveedor], [direccion_proveedor], [id_categoria_proveedor]) VALUES (2, N'Soboce', N'72322222', N'La Paz, Bolivia', 2)
INSERT [dbo].[proveedores] ([id_proveedor], [nombre_proveedor], [telefono_proveedor], [direccion_proveedor], [id_categoria_proveedor]) VALUES (3, N'Hierros Bolivia SRL', N'72433333', N'Santa Cruz, Bolivia', 2)
SET IDENTITY_INSERT [dbo].[proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[proyecto_empleado] ON 

INSERT [dbo].[proyecto_empleado] ([id_proyecto_empleado], [id_proyecto], [id_empleado], [rol_en_proyecto], [fecha_ingreso], [fecha_salida], [estado]) VALUES (1, 1, 1, N'Arquitecto de Proyecto', CAST(N'2025-06-01' AS Date), NULL, N'Activo')
INSERT [dbo].[proyecto_empleado] ([id_proyecto_empleado], [id_proyecto], [id_empleado], [rol_en_proyecto], [fecha_ingreso], [fecha_salida], [estado]) VALUES (2, 1, 2, N'Ingeniero Civil', CAST(N'2025-06-01' AS Date), NULL, N'Activo')
INSERT [dbo].[proyecto_empleado] ([id_proyecto_empleado], [id_proyecto], [id_empleado], [rol_en_proyecto], [fecha_ingreso], [fecha_salida], [estado]) VALUES (3, 2, 3, N'Ingeniero Estructural', CAST(N'2025-06-10' AS Date), NULL, N'Activo')
SET IDENTITY_INSERT [dbo].[proyecto_empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[proyecto_mano_obra] ON 

INSERT [dbo].[proyecto_mano_obra] ([id_mano_obra], [id_proyecto], [id_empleado], [id_fase], [fecha_trabajo], [horas_trabajadas], [costo_por_hora], [costo_total]) VALUES (1, 1, 1, 1, CAST(N'2025-06-02' AS Date), CAST(8.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)))
INSERT [dbo].[proyecto_mano_obra] ([id_mano_obra], [id_proyecto], [id_empleado], [id_fase], [fecha_trabajo], [horas_trabajadas], [costo_por_hora], [costo_total]) VALUES (2, 1, 2, 2, CAST(N'2025-06-03' AS Date), CAST(6.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[proyecto_mano_obra] ([id_mano_obra], [id_proyecto], [id_empleado], [id_fase], [fecha_trabajo], [horas_trabajadas], [costo_por_hora], [costo_total]) VALUES (3, 2, 3, 3, CAST(N'2025-06-11' AS Date), CAST(7.00 AS Decimal(10, 2)), CAST(28.00 AS Decimal(10, 2)), CAST(196.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[proyecto_mano_obra] OFF
GO
SET IDENTITY_INSERT [dbo].[proyecto_material] ON 

INSERT [dbo].[proyecto_material] ([id_proyecto_material], [id_proyecto], [id_material], [id_fase], [cantidad], [fecha_uso], [costo_unitario], [costo_total]) VALUES (1, 1, 1, 1, CAST(120.00 AS Decimal(10, 2)), CAST(N'2025-06-02' AS Date), CAST(35.00 AS Decimal(10, 2)), CAST(4200.00 AS Decimal(12, 2)))
INSERT [dbo].[proyecto_material] ([id_proyecto_material], [id_proyecto], [id_material], [id_fase], [cantidad], [fecha_uso], [costo_unitario], [costo_total]) VALUES (2, 1, 3, 1, CAST(15.00 AS Decimal(10, 2)), CAST(N'2025-06-03' AS Date), CAST(60.00 AS Decimal(10, 2)), CAST(900.00 AS Decimal(12, 2)))
INSERT [dbo].[proyecto_material] ([id_proyecto_material], [id_proyecto], [id_material], [id_fase], [cantidad], [fecha_uso], [costo_unitario], [costo_total]) VALUES (3, 1, 8, 2, CAST(3000.00 AS Decimal(10, 2)), CAST(N'2025-06-04' AS Date), CAST(1.20 AS Decimal(10, 2)), CAST(3600.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[proyecto_material] OFF
GO
SET IDENTITY_INSERT [dbo].[proyectos] ON 

INSERT [dbo].[proyectos] ([id_proyecto], [id_cliente], [id_estado_proyecto], [id_centro_costo], [id_cotizacion], [nombre_proyecto], [ubicacion_proyecto], [fecha_inicio_proyecto], [fecha_fin_proyecto], [costo_real_proyecto], [prioridad_proyecto], [porcentaje_avance], [estado_registro], [id_fase_tipo]) VALUES (1, 1, 6, 2, 1, N'Casa Mendoza Cochabamba', N'Cochabamba Centro', CAST(N'2025-06-01' AS Date), CAST(N'2025-12-01' AS Date), CAST(41060.00 AS Decimal(12, 2)), N'MEDIA', CAST(50.00 AS Decimal(5, 2)), N'ACTIVO', 5)
INSERT [dbo].[proyectos] ([id_proyecto], [id_cliente], [id_estado_proyecto], [id_centro_costo], [id_cotizacion], [nombre_proyecto], [ubicacion_proyecto], [fecha_inicio_proyecto], [fecha_fin_proyecto], [costo_real_proyecto], [prioridad_proyecto], [porcentaje_avance], [estado_registro], [id_fase_tipo]) VALUES (2, 2, 5, 2, 2, N'Vivienda Rojas Norte', N'Zona Norte Cochabamba', CAST(N'2025-06-10' AS Date), CAST(N'2025-11-10' AS Date), CAST(76000.00 AS Decimal(12, 2)), N'MEDIA', CAST(10.00 AS Decimal(5, 2)), N'ACTIVO', 1)
INSERT [dbo].[proyectos] ([id_proyecto], [id_cliente], [id_estado_proyecto], [id_centro_costo], [id_cotizacion], [nombre_proyecto], [ubicacion_proyecto], [fecha_inicio_proyecto], [fecha_fin_proyecto], [costo_real_proyecto], [prioridad_proyecto], [porcentaje_avance], [estado_registro], [id_fase_tipo]) VALUES (3, 3, 6, 3, 3, N'Edificio Quillacollo Center', N'Quillacollo', CAST(N'2025-06-15' AS Date), CAST(N'2026-04-15' AS Date), CAST(140000.00 AS Decimal(12, 2)), N'ALTA', CAST(10.00 AS Decimal(5, 2)), N'ACTIVO', 1)
SET IDENTITY_INSERT [dbo].[proyectos] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id_rol], [nombre_rol]) VALUES (1, N'Administrador')
INSERT [dbo].[roles] ([id_rol], [nombre_rol]) VALUES (2, N'Gerente de Proyecto')
INSERT [dbo].[roles] ([id_rol], [nombre_rol]) VALUES (3, N'Ingeniero')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[subcontratistas] ON 

INSERT [dbo].[subcontratistas] ([id_subcontratista], [nombre_subcontratista], [representante], [ci_subcontratista], [telefono_subcontratista], [email_subcontratista], [direccion_subcontratista], [especialidad]) VALUES (1, N'Servicios Electricos Lopez', N'Mario Lopez', N'5678901', N'77711122', N'lopez.electricidad@gmail.com', N'La Paz, Bolivia', N'Instalaciones electricas')
INSERT [dbo].[subcontratistas] ([id_subcontratista], [nombre_subcontratista], [representante], [ci_subcontratista], [telefono_subcontratista], [email_subcontratista], [direccion_subcontratista], [especialidad]) VALUES (2, N'Plomeria Profesional Ramirez', N'Jorge Ramirez', N'6789012', N'77822334', N'ramirez.plomeria@gmail.com', N'Santa Cruz, Bolivia', N'Instalaciones sanitarias')
INSERT [dbo].[subcontratistas] ([id_subcontratista], [nombre_subcontratista], [representante], [ci_subcontratista], [telefono_subcontratista], [email_subcontratista], [direccion_subcontratista], [especialidad]) VALUES (3, N'Acabados Finos Herrera', N'Luis Herrera', N'7890123', N'77933445', N'herrera.acabados@gmail.com', N'Cochabamba', N'Acabados y pintura')
SET IDENTITY_INSERT [dbo].[subcontratistas] OFF
GO
SET IDENTITY_INSERT [dbo].[tareas_fase] ON 

INSERT [dbo].[tareas_fase] ([id_tarea], [id_fase], [id_empleado_responsable], [nombre_tarea], [descripcion_tarea], [fecha_inicio_tarea], [fecha_fin_tarea], [prioridad_tarea], [estado], [porcentaje_avance]) VALUES (1, 1, 1, N'Dibujo de planos estructurales', N'Planos base de la vivienda', CAST(N'2025-06-01' AS Date), CAST(N'2025-06-05' AS Date), N'Alta', N'Finalizado', CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[tareas_fase] ([id_tarea], [id_fase], [id_empleado_responsable], [nombre_tarea], [descripcion_tarea], [fecha_inicio_tarea], [fecha_fin_tarea], [prioridad_tarea], [estado], [porcentaje_avance]) VALUES (2, 1, 2, N'Diseño arquitectonico', N'Diseño general del proyecto', CAST(N'2025-06-03' AS Date), CAST(N'2025-06-10' AS Date), N'Alta', N'Finalizado', CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[tareas_fase] ([id_tarea], [id_fase], [id_empleado_responsable], [nombre_tarea], [descripcion_tarea], [fecha_inicio_tarea], [fecha_fin_tarea], [prioridad_tarea], [estado], [porcentaje_avance]) VALUES (3, 2, 3, N'Excavacion de terreno', N'Preparacion del terreno para cimentacion', CAST(N'2025-06-16' AS Date), CAST(N'2025-06-25' AS Date), N'Alta', N'En ejecucion', CAST(70.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[tareas_fase] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_contrato] ON 

INSERT [dbo].[tipo_contrato] ([id_tipo_contrato], [tipo_contrato]) VALUES (1, N'Tiempo Indefinido')
INSERT [dbo].[tipo_contrato] ([id_tipo_contrato], [tipo_contrato]) VALUES (2, N'Plazo Fijo')
INSERT [dbo].[tipo_contrato] ([id_tipo_contrato], [tipo_contrato]) VALUES (3, N'Por Obra o Proyecto')
SET IDENTITY_INSERT [dbo].[tipo_contrato] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_documento] ON 

INSERT [dbo].[tipo_documento] ([id_tipo_documento], [nombre_documento]) VALUES (1, N'CI')
INSERT [dbo].[tipo_documento] ([id_tipo_documento], [nombre_documento]) VALUES (2, N'NIT')
INSERT [dbo].[tipo_documento] ([id_tipo_documento], [nombre_documento]) VALUES (3, N'Pasaporte')
SET IDENTITY_INSERT [dbo].[tipo_documento] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_pago_trabajador] ON 

INSERT [dbo].[tipo_pago_trabajador] ([id_tipo_pago], [tipo_pago]) VALUES (1, N'Mensual')
INSERT [dbo].[tipo_pago_trabajador] ([id_tipo_pago], [tipo_pago]) VALUES (2, N'Quincenal')
INSERT [dbo].[tipo_pago_trabajador] ([id_tipo_pago], [tipo_pago]) VALUES (3, N'Semanal')
SET IDENTITY_INSERT [dbo].[tipo_pago_trabajador] OFF
GO
INSERT [dbo].[usuario_rol] ([id_usuario], [id_rol]) VALUES (1, 1)
INSERT [dbo].[usuario_rol] ([id_usuario], [id_rol]) VALUES (2, 2)
INSERT [dbo].[usuario_rol] ([id_usuario], [id_rol]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [username], [password_hash], [estado], [id_empleado], [id_cliente], [fecha_creacion], [fecha_ultima_modificacion], [ultimo_login]) VALUES (1, N'jmendoza', N'123456', N'activo', 1, NULL, NULL, CAST(N'2026-05-14T16:37:34.483' AS DateTime), NULL)
INSERT [dbo].[usuarios] ([id_usuario], [username], [password_hash], [estado], [id_empleado], [id_cliente], [fecha_creacion], [fecha_ultima_modificacion], [ultimo_login]) VALUES (2, N'mrojas', N'123456', N'activo', 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[usuarios] ([id_usuario], [username], [password_hash], [estado], [id_empleado], [id_cliente], [fecha_creacion], [fecha_ultima_modificacion], [ultimo_login]) VALUES (3, N'lquispe', N'123456', N'activo', 3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__fases_ca__7AEA3D862988DA66]    Script Date: 14/5/2026 18:58:04 ******/
ALTER TABLE [dbo].[fases_catalogo] ADD UNIQUE NONCLUSTERED 
(
	[nombre_fase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permisos__FF8EFA686B1C2DA1]    Script Date: 14/5/2026 18:58:04 ******/
ALTER TABLE [dbo].[permisos] ADD UNIQUE NONCLUSTERED 
(
	[id_rol] ASC,
	[tabla_objetivo] ASC,
	[operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_nombre_cliente]    Script Date: 14/5/2026 18:58:04 ******/
ALTER TABLE [dbo].[proyectos] ADD  CONSTRAINT [UQ_nombre_cliente] UNIQUE NONCLUSTERED 
(
	[nombre_proyecto] ASC,
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_proyecto_centro]    Script Date: 14/5/2026 18:58:04 ******/
CREATE NONCLUSTERED INDEX [IDX_proyecto_centro] ON [dbo].[proyectos]
(
	[id_centro_costo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_proyecto_cliente]    Script Date: 14/5/2026 18:58:04 ******/
CREATE NONCLUSTERED INDEX [IDX_proyecto_cliente] ON [dbo].[proyectos]
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_proyecto_estado]    Script Date: 14/5/2026 18:58:04 ******/
CREATE NONCLUSTERED INDEX [IDX_proyecto_estado] ON [dbo].[proyectos]
(
	[id_estado_proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_proyecto_cotizacion]    Script Date: 14/5/2026 18:58:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_proyecto_cotizacion] ON [dbo].[proyectos]
(
	[id_cotizacion] ASC
)
WHERE ([id_cotizacion] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fases_catalogo] ADD  DEFAULT ('ACTIVO') FOR [estado]
GO
ALTER TABLE [dbo].[fases_proyecto] ADD  DEFAULT ((0)) FOR [progreso]
GO
ALTER TABLE [dbo].[intentos_login] ADD  DEFAULT (getdate()) FOR [fecha_intento]
GO
ALTER TABLE [dbo].[proyectos] ADD  CONSTRAINT [DF_proyectos_porcentaje]  DEFAULT ((0)) FOR [porcentaje_avance]
GO
ALTER TABLE [dbo].[proyectos] ADD  CONSTRAINT [DF_proyectos_estado]  DEFAULT ('ACTIVO') FOR [estado_registro]
GO
ALTER TABLE [dbo].[tareas_fase] ADD  DEFAULT ((0)) FOR [porcentaje_avance]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_ultima_modificacion]
GO
ALTER TABLE [dbo].[auditoria]  WITH CHECK ADD  CONSTRAINT [FK_auditoria_usuario] FOREIGN KEY([id_usuario_auditor])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[auditoria] CHECK CONSTRAINT [FK_auditoria_usuario]
GO
ALTER TABLE [dbo].[avance_proyecto]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[tipo_documento] ([id_tipo_documento])
GO
ALTER TABLE [dbo].[contrato_subcontratista]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[contrato_subcontratista]  WITH CHECK ADD FOREIGN KEY([id_subcontratista])
REFERENCES [dbo].[subcontratistas] ([id_subcontratista])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_tipo_contrato])
REFERENCES [dbo].[tipo_contrato] ([id_tipo_contrato])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_tipo_pago])
REFERENCES [dbo].[tipo_pago_trabajador] ([id_tipo_pago])
GO
ALTER TABLE [dbo].[control_asistencia]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[costos_material]  WITH CHECK ADD FOREIGN KEY([id_material])
REFERENCES [dbo].[materiales] ([id_material])
GO
ALTER TABLE [dbo].[cotizaciones]  WITH CHECK ADD FOREIGN KEY([id_cliente_cotizacion])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[disponibilidad_empleado]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([id_categoria_empleado])
REFERENCES [dbo].[categoria_empleado] ([id_categoria_empleado])
GO
ALTER TABLE [dbo].[fases_proyecto]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[flujo_estado_proyecto]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[intentos_login]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[inventario_material]  WITH CHECK ADD FOREIGN KEY([id_almacen])
REFERENCES [dbo].[almacen] ([id_almacen])
GO
ALTER TABLE [dbo].[inventario_material]  WITH CHECK ADD FOREIGN KEY([id_material])
REFERENCES [dbo].[materiales] ([id_material])
GO
ALTER TABLE [dbo].[materiales]  WITH CHECK ADD FOREIGN KEY([id_categoria_material])
REFERENCES [dbo].[categoria_material] ([id_categoria_material])
GO
ALTER TABLE [dbo].[materiales]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[movimiento_inventario]  WITH CHECK ADD FOREIGN KEY([id_material])
REFERENCES [dbo].[materiales] ([id_material])
GO
ALTER TABLE [dbo].[movimiento_inventario]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[nomina_pagos]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[nomina_pagos]  WITH CHECK ADD FOREIGN KEY([id_periodo_pago])
REFERENCES [dbo].[periodo_pago] ([id_periodo_pago])
GO
ALTER TABLE [dbo].[pago_subcontratista]  WITH CHECK ADD FOREIGN KEY([id_contrato_sub])
REFERENCES [dbo].[contrato_subcontratista] ([id_contrato_sub])
GO
ALTER TABLE [dbo].[pagos_cliente]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[pagos_cliente]  WITH CHECK ADD FOREIGN KEY([id_estado_pago])
REFERENCES [dbo].[estado_pago_proyecto] ([id_estado_pago])
GO
ALTER TABLE [dbo].[pagos_cliente]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[pagos_proveedor]  WITH CHECK ADD FOREIGN KEY([id_estado_pago])
REFERENCES [dbo].[estado_pago_proyecto] ([id_estado_pago])
GO
ALTER TABLE [dbo].[pagos_proveedor]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[pagos_proveedor]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[permisos]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[plan_pagos]  WITH CHECK ADD FOREIGN KEY([id_fase])
REFERENCES [dbo].[fases_proyecto] ([id_fase])
GO
ALTER TABLE [dbo].[plan_pagos]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[presupuesto_cliente]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[proveedores]  WITH CHECK ADD FOREIGN KEY([id_categoria_proveedor])
REFERENCES [dbo].[categoria_proveedor] ([id_categoria_proveedor])
GO
ALTER TABLE [dbo].[proyecto_empleado]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[proyecto_empleado]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[proyecto_mano_obra]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[proyecto_mano_obra]  WITH CHECK ADD FOREIGN KEY([id_fase])
REFERENCES [dbo].[fases_proyecto] ([id_fase])
GO
ALTER TABLE [dbo].[proyecto_mano_obra]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[proyecto_material]  WITH CHECK ADD FOREIGN KEY([id_fase])
REFERENCES [dbo].[fases_proyecto] ([id_fase])
GO
ALTER TABLE [dbo].[proyecto_material]  WITH CHECK ADD FOREIGN KEY([id_material])
REFERENCES [dbo].[materiales] ([id_material])
GO
ALTER TABLE [dbo].[proyecto_material]  WITH CHECK ADD FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD FOREIGN KEY([id_centro_costo])
REFERENCES [dbo].[centro_costo] ([id_centro_costo])
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD FOREIGN KEY([id_cotizacion])
REFERENCES [dbo].[cotizaciones] ([id_cotizacion])
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD FOREIGN KEY([id_estado_proyecto])
REFERENCES [dbo].[estados_proyecto] ([id_estado_proyecto])
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [FK_proyectos_fases_catalogo] FOREIGN KEY([id_fase_tipo])
REFERENCES [dbo].[fases_catalogo] ([id_fase_tipo])
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [FK_proyectos_fases_catalogo]
GO
ALTER TABLE [dbo].[tareas_fase]  WITH CHECK ADD FOREIGN KEY([id_empleado_responsable])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[tareas_fase]  WITH CHECK ADD FOREIGN KEY([id_fase])
REFERENCES [dbo].[fases_proyecto] ([id_fase])
GO
ALTER TABLE [dbo].[usuario_rol]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuario_rol]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_USUARIO_CLIENTE]
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[fases_catalogo]  WITH CHECK ADD  CONSTRAINT [CK_fases_catalogo_estado] CHECK  (([estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[fases_catalogo] CHECK CONSTRAINT [CK_fases_catalogo_estado]
GO
ALTER TABLE [dbo].[plan_pagos]  WITH CHECK ADD CHECK  (([porcentaje_asociado]>=(0) AND [porcentaje_asociado]<=(100)))
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD CHECK  (([prioridad_proyecto]='BAJA' OR [prioridad_proyecto]='MEDIA' OR [prioridad_proyecto]='ALTA'))
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [CK_estado_registro] CHECK  (([estado_registro]='INACTIVO' OR [estado_registro]='ACTIVO'))
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [CK_estado_registro]
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [CK_fechas_proyecto] CHECK  (([fecha_fin_proyecto] IS NULL OR [fecha_fin_proyecto]>=[fecha_inicio_proyecto]))
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [CK_fechas_proyecto]
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [CK_porcentaje_avance] CHECK  (([porcentaje_avance]>=(0) AND [porcentaje_avance]<=(100)))
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [CK_porcentaje_avance]
GO
ALTER TABLE [dbo].[proyectos]  WITH CHECK ADD  CONSTRAINT [CK_prioridad_proyecto] CHECK  (([prioridad_proyecto]='BAJA' OR [prioridad_proyecto]='MEDIA' OR [prioridad_proyecto]='ALTA'))
GO
ALTER TABLE [dbo].[proyectos] CHECK CONSTRAINT [CK_prioridad_proyecto]
GO
ALTER TABLE [dbo].[tareas_fase]  WITH CHECK ADD CHECK  (([porcentaje_avance]>=(0) AND [porcentaje_avance]<=(100)))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([estado]='inactivo' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [CK_usuario_tipo_valido] CHECK  ((([id_empleado] IS NOT NULL OR [id_cliente] IS NOT NULL) AND NOT ([id_empleado] IS NOT NULL AND [id_cliente] IS NOT NULL)))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [CK_usuario_tipo_valido]
GO
/****** Object:  StoredProcedure [dbo].[sp_recalcular_costo_proyecto]    Script Date: 14/5/2026 18:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_recalcular_costo_proyecto]
    @id_proyecto INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE proyectos
    SET costo_real_proyecto =
    (
        -- Mano de obra
        ISNULL((
            SELECT SUM(costo_total)
            FROM proyecto_mano_obra
            WHERE id_proyecto = @id_proyecto
        ),0)

        +

        -- Materiales
        ISNULL((
            SELECT SUM(costo_total)
            FROM proyecto_material
            WHERE id_proyecto = @id_proyecto
        ),0)

        +

        -- Subcontratistas
        ISNULL((
            SELECT SUM(monto_contratado)
            FROM contrato_subcontratista
            WHERE id_proyecto = @id_proyecto
        ),0)

        +

        -- Proveedores
        ISNULL((
            SELECT SUM(monto)
            FROM pagos_proveedor
            WHERE id_proyecto = @id_proyecto
        ),0)
    )
    WHERE id_proyecto = @id_proyecto;
END;
GO
/****** Object:  Trigger [dbo].[trg_costos_subcontratistas]    Script Date: 14/5/2026 18:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_costos_subcontratistas]
ON [dbo].[contrato_subcontratista]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ids TABLE (id_proyecto INT);

    INSERT INTO @ids
    SELECT DISTINCT id_proyecto FROM inserted;

    INSERT INTO @ids
    SELECT DISTINCT id_proyecto FROM deleted;

    DECLARE @id INT;

    DECLARE cur CURSOR FOR
        SELECT DISTINCT id_proyecto FROM @ids;

    OPEN cur;
    FETCH NEXT FROM cur INTO @id;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC sp_recalcular_costo_proyecto @id;
        FETCH NEXT FROM cur INTO @id;
    END;

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
ALTER TABLE [dbo].[contrato_subcontratista] ENABLE TRIGGER [trg_costos_subcontratistas]
GO
/****** Object:  Trigger [dbo].[trg_calcular_horas_asistencia]    Script Date: 14/5/2026 18:58:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_calcular_horas_asistencia]
ON [dbo].[control_asistencia]
AFTER INSERT
AS
BEGIN

    UPDATE ca
    SET

        -- ESTADO DE ASISTENCIA
        estado_asistencia =
        CASE

            -- Si no marcó entrada
            WHEN i.hora_entrada IS NULL
            THEN 'AUSENTE'

            -- Tolerancia hasta las 08:10
            WHEN i.hora_entrada <= '08:10:00'
            THEN 'PRESENTE'

            -- Después de las 08:10
            ELSE 'RETRASADO'

        END,

        -- HORAS TRABAJADAS
        horas_trabajadas =
        CASE

            -- Si no marcó salida
            WHEN i.hora_salida IS NULL
            THEN 0

            -- Si salió antes de las 17:50
            WHEN i.hora_salida < '17:50:00'
            THEN 7.5

            -- Si salió desde las 17:50 en adelante
            WHEN i.hora_salida >= '17:50:00'
            THEN 8

        END,

        -- HORAS EXTRA
        horas_extra =
        CASE

            -- Antes de las 19:00 no cuenta extra
            WHEN i.hora_salida < '19:00:00'
            THEN 0

            -- 19:00 a 19:59 = 1 hora extra
            WHEN i.hora_salida >= '19:00:00'
                 AND i.hora_salida < '20:00:00'
            THEN 1

            -- 20:00 a 20:59 = 2 horas extra
            WHEN i.hora_salida >= '20:00:00'
                 AND i.hora_salida < '21:00:00'
            THEN 2

            -- 21:00 a 21:59 = 3 horas extra
            WHEN i.hora_salida >= '21:00:00'
                 AND i.hora_salida < '22:00:00'
            THEN 3

            ELSE 0

        END

    FROM control_asistencia ca
    INNER JOIN inserted i
        ON ca.id_asistencia = i.id_asistencia;

END;
GO
ALTER TABLE [dbo].[control_asistencia] ENABLE TRIGGER [trg_calcular_horas_asistencia]
GO
/****** Object:  Trigger [dbo].[trg_bloquear_usuario_intentos_fallidos]    Script Date: 14/5/2026 18:58:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_bloquear_usuario_intentos_fallidos]
ON [dbo].[intentos_login]
AFTER INSERT
AS
BEGIN
    DECLARE @id_usuario INT;
    DECLARE @intentos_fallidos INT;
    
    SELECT @id_usuario = id_usuario FROM inserted WHERE exitoso = 0;
    
    SELECT @intentos_fallidos = COUNT(*) FROM dbo.intentos_login
    WHERE id_usuario = @id_usuario AND exitoso = 0 
    AND DATEDIFF(HOUR, fecha_intento, GETDATE()) < 1;
    
    IF @intentos_fallidos >= 5
    BEGIN
        UPDATE dbo.usuarios SET estado = 'bloqueado' WHERE id_usuario = @id_usuario;
        
        -- ✅ FIX: Especificar columnas explícitamente
        INSERT INTO dbo.auditoria (tabla_afectada, operacion, usuario_nombre, fecha, datos_anteriores, datos_nuevos)
        VALUES ('usuarios', 'UPDATE', 'SYSTEM', GETDATE(), NULL, 'Usuario bloqueado por múltiples intentos fallidos');
    END
END;
GO
ALTER TABLE [dbo].[intentos_login] ENABLE TRIGGER [trg_bloquear_usuario_intentos_fallidos]
GO
/****** Object:  Trigger [dbo].[trg_ValidarPagoPositivo]    Script Date: 14/5/2026 18:58:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ValidarPagoPositivo]
ON [dbo].[pagos_cliente]
AFTER INSERT
AS
BEGIN
    -- Esta regla revisa los datos que alguien intenta guardar.
    -- Si el valor ingresado es menor a 0, bloquea la acción y lanza un mensaje de error.
    IF EXISTS (SELECT * FROM inserted WHERE monto < 0)
    BEGIN
        RAISERROR ('Error de Finanzas: El pago no puede ser un número negativo, bro.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END
GO
ALTER TABLE [dbo].[pagos_cliente] ENABLE TRIGGER [trg_ValidarPagoPositivo]
GO
/****** Object:  Trigger [dbo].[trg_costos_proveedores]    Script Date: 14/5/2026 18:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_costos_proveedores]
ON [dbo].[pagos_proveedor]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ids TABLE (id_proyecto INT);

    INSERT INTO @ids
    SELECT DISTINCT id_proyecto FROM inserted;

    INSERT INTO @ids
    SELECT DISTINCT id_proyecto FROM deleted;

    DECLARE @id INT;

    DECLARE cur CURSOR FOR
        SELECT DISTINCT id_proyecto FROM @ids;

    OPEN cur;
    FETCH NEXT FROM cur INTO @id;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC sp_recalcular_costo_proyecto @id;
        FETCH NEXT FROM cur INTO @id;
    END;

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
ALTER TABLE [dbo].[pagos_proveedor] ENABLE TRIGGER [trg_costos_proveedores]
GO
/****** Object:  Trigger [dbo].[trg_costos_mano_obra]    Script Date: 14/5/2026 18:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_costos_mano_obra]
ON [dbo].[proyecto_mano_obra]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener proyectos afectados correctamente
    DECLARE @ids TABLE (id_proyecto INT);

    INSERT INTO @ids (id_proyecto)
    SELECT DISTINCT id_proyecto FROM inserted;

    INSERT INTO @ids (id_proyecto)
    SELECT DISTINCT id_proyecto FROM deleted;

    -- Recalcular cada proyecto afectado
    DECLARE @id INT;

    DECLARE cur CURSOR FOR
        SELECT DISTINCT id_proyecto FROM @ids;

    OPEN cur;

    FETCH NEXT FROM cur INTO @id;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC sp_recalcular_costo_proyecto @id;

        FETCH NEXT FROM cur INTO @id;
    END;

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
ALTER TABLE [dbo].[proyecto_mano_obra] ENABLE TRIGGER [trg_costos_mano_obra]
GO
/****** Object:  Trigger [dbo].[trg_costos_materiales]    Script Date: 14/5/2026 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_costos_materiales]
ON [dbo].[proyecto_material]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ids TABLE (id_proyecto INT);

    INSERT INTO @ids
    SELECT DISTINCT id_proyecto FROM inserted;

    INSERT INTO @ids
    SELECT DISTINCT id_proyecto FROM deleted;

    DECLARE @id INT;

    DECLARE cur CURSOR FOR
        SELECT DISTINCT id_proyecto FROM @ids;

    OPEN cur;
    FETCH NEXT FROM cur INTO @id;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC sp_recalcular_costo_proyecto @id;
        FETCH NEXT FROM cur INTO @id;
    END;

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
ALTER TABLE [dbo].[proyecto_material] ENABLE TRIGGER [trg_costos_materiales]
GO
/****** Object:  Trigger [dbo].[trg_actualizar_avance_fase]    Script Date: 14/5/2026 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_actualizar_avance_fase]
ON [dbo].[proyectos]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE p
    SET p.porcentaje_avance =
        CASE i.id_fase_tipo
            WHEN 1 THEN 10
            WHEN 2 THEN 20
            WHEN 3 THEN 30
            WHEN 4 THEN 40
            WHEN 5 THEN 50
            WHEN 6 THEN 60
            WHEN 7 THEN 70
            WHEN 8 THEN 80
            WHEN 9 THEN 90
            WHEN 10 THEN 100
            ELSE 0
        END
    FROM dbo.proyectos p
    INNER JOIN inserted i
        ON p.id_proyecto = i.id_proyecto;
END;
GO
ALTER TABLE [dbo].[proyectos] ENABLE TRIGGER [trg_actualizar_avance_fase]
GO
/****** Object:  Trigger [dbo].[trg_cambio_estado_proyecto]    Script Date: 14/5/2026 18:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_cambio_estado_proyecto]
ON [dbo].[proyectos]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO flujo_estado_proyecto (
        id_proyecto,
        estado,
        fecha_flujo,
        hora_flujo,
        usuario_nombre
    )
    SELECT
        i.id_proyecto,
        e_new.nombre_estado,
        CAST(GETDATE() AS DATE),
        CONVERT(TIME(0), GETDATE()),  -- 👈 SIN MILISEGUNDOS
        SUSER_SNAME()
    FROM inserted i
    INNER JOIN deleted d
        ON i.id_proyecto = d.id_proyecto
    LEFT JOIN estados_proyecto e_new
        ON i.id_estado_proyecto = e_new.id_estado_proyecto
    WHERE ISNULL(i.id_estado_proyecto, 0) <> ISNULL(d.id_estado_proyecto, 0);
END;
GO
ALTER TABLE [dbo].[proyectos] ENABLE TRIGGER [trg_cambio_estado_proyecto]
GO
/****** Object:  Trigger [dbo].[trg_fases_proyecto_historial]    Script Date: 14/5/2026 18:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_fases_proyecto_historial]
ON [dbo].[proyectos]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. CERRAR FASE ANTERIOR
    UPDATE fp
    SET fp.fecha_fin_fase = GETDATE()
    FROM dbo.fases_proyecto fp
    INNER JOIN deleted d
        ON fp.id_proyecto = d.id_proyecto
    WHERE fp.fecha_fin_fase IS NULL
      AND EXISTS (
          SELECT 1
          FROM inserted i
          WHERE i.id_proyecto = d.id_proyecto
            AND i.id_fase_tipo <> d.id_fase_tipo
      );

    -- 2. INSERTAR NUEVA FASE (con nombre desde catálogo)
    INSERT INTO dbo.fases_proyecto (
        id_proyecto,
        nombre_fase,
        fecha_inicio_fase,
        fecha_fin_fase
    )
    SELECT
        i.id_proyecto,
        fc.nombre_fase,   -- 👈 AQUÍ TRAE EL NOMBRE REAL
        GETDATE(),
        NULL
    FROM inserted i
    INNER JOIN deleted d
        ON i.id_proyecto = d.id_proyecto
    INNER JOIN dbo.fases_catalogo fc
        ON i.id_fase_tipo = fc.id_fase_tipo
    WHERE ISNULL(i.id_fase_tipo,0) <> ISNULL(d.id_fase_tipo,0);
END;
GO
ALTER TABLE [dbo].[proyectos] ENABLE TRIGGER [trg_fases_proyecto_historial]
GO
/****** Object:  Trigger [dbo].[trg_validar_usuario_activo_rol]    Script Date: 14/5/2026 18:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_validar_usuario_activo_rol]
ON [dbo].[usuario_rol]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que usuario esté activo
    IF EXISTS (
        SELECT 1 FROM inserted i
        JOIN dbo.usuarios u ON i.id_usuario = u.id_usuario
        WHERE u.estado = 'inactivo'
    )
    BEGIN
        RAISERROR('No se puede asignar rol a usuario inactivo', 16, 1);
        RETURN;
    END
    
    -- Si validación pasa, insertar
    INSERT INTO dbo.usuario_rol (id_usuario, id_rol)
    SELECT id_usuario, id_rol FROM inserted;
END;
GO
ALTER TABLE [dbo].[usuario_rol] ENABLE TRIGGER [trg_validar_usuario_activo_rol]
GO
/****** Object:  Trigger [dbo].[trg_actualizar_ultima_modificacion_usuario]    Script Date: 14/5/2026 18:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_actualizar_ultima_modificacion_usuario]
ON [dbo].[usuarios]
AFTER UPDATE
AS
BEGIN
    UPDATE dbo.usuarios
    SET fecha_ultima_modificacion = GETDATE()
    WHERE id_usuario IN (SELECT id_usuario FROM inserted);
END;
GO
ALTER TABLE [dbo].[usuarios] ENABLE TRIGGER [trg_actualizar_ultima_modificacion_usuario]
GO
/****** Object:  Trigger [dbo].[trg_auditoria_usuarios_cambios]    Script Date: 14/5/2026 18:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_auditoria_usuarios_cambios]
ON [dbo].[usuarios]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @operacion VARCHAR(10);
    
    IF EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
        SET @operacion = 'UPDATE';
    ELSE IF EXISTS (SELECT 1 FROM inserted)
        SET @operacion = 'INSERT';
    ELSE
        SET @operacion = 'DELETE';
    
    INSERT INTO dbo.auditoria (tabla_afectada, operacion, usuario_nombre, fecha, datos_anteriores, datos_nuevos)
    SELECT 
        'usuarios',
        @operacion,
        SYSTEM_USER,
        GETDATE(),
        CASE WHEN @operacion = 'DELETE' THEN 
            'ID:' + CAST(deleted.id_usuario AS VARCHAR) + ',USER:' + deleted.username 
        ELSE NULL END,
        CASE WHEN @operacion IN ('INSERT', 'UPDATE') THEN 
            'ID:' + CAST(inserted.id_usuario AS VARCHAR) + ',USER:' + inserted.username + ',ESTADO:' + inserted.estado
        ELSE NULL END
    FROM inserted FULL OUTER JOIN deleted 
        ON inserted.id_usuario = deleted.id_usuario;
END;
GO
ALTER TABLE [dbo].[usuarios] ENABLE TRIGGER [trg_auditoria_usuarios_cambios]
GO
